@import "./variables";

.card {
  background: $white;
  color: $titre;
  border-radius: 10px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 0 1em 1em 1em;
  font-size: $font-size;
}

.user.titre{
  text-align: center;
  margin-bottom: 2%;
  color:$titre;
}

.user.card {
  width: $size-answer;
  height: $size-answer;
  min-width: min-content;
  min-height: min-content;
  font-size: $font-size;
  display:flex;
  flex-direction: column;
  margin: 0;
  padding : 0;
  align-items: center;
  justify-content: center;
}

.user.case{
  place-items: center;
  text-align: center;
}

.user.grid {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, min-content);
  column-gap: $gap-column;
  row-gap: $gap-row;
  margin : 30px;
}

.button-card {
  background-color: $white;
  border: solid 1px $black;
  color: $text;
  font-weight: bold;
  padding: 0.5em 1em;
}

.button-card:hover {
  cursor: pointer;
}

.hover {
  cursor: pointer;
}
