$white: var(--white);
$black: var(--black);
$blue: var(--blue);
$size-answer: var(--size-answer);
$gap-column:var(--gap-column);
$gap-row:var(--gap-row);
$number-column:var(--number-column);
$font-size:var(--font-size);
$app-background-color: var(--background-color);
$header: var(--header-color);
$text: var(--text-color);
$titre: var(--titre-color);
$header-text : var(--header-text);

