$black: #000000;
$size-answer: var(--size-answer);
$gap-column:var(--gap-column);
$gap-row:var(--gap-row);
$font-size:var(--font-size);
$app-background-color: var(--background-color);
$header: var(--header-color);
$white: var(--white);
$text: var(--text-color);
$titre: var(--titre-color);


