<div class="card">
  <h2>Options</h2>
  <form [formGroup]="optionForm" class="user-form">
    Taille du texte<br>
    <input [formControlName]="'fontSize'" class="input-custom" type="radio" value=200> normal
    <input [formControlName]="'fontSize'" class="input-custom" type="radio" value=300> grand
    <input [formControlName]="'fontSize'" class="input-custom" type="radio" value=400> tres grand
    <br>
    Écartement<br>
    <input [formControlName]="'dmlaOffset'" class="input-custom" type="radio" value=0> faible
    <input [formControlName]="'dmlaOffset'" class="input-custom" type="radio" value=20> normal
    <input [formControlName]="'dmlaOffset'" class="input-custom" type="radio" value=45> grand
    <br>
    Theme sombre<br>
    <input [formControlName]="'theme'" [value]=true class="input-custom" type="radio"> sombre
    <input [formControlName]="'theme'" [value]=false class="input-custom" type="radio"> clair

    <br>
    <button (click)="onSubmit()" class="button-card" type="submit">Créer</button>
  </form>
</div>
