<div class="card">
  <h2>Create a new User</h2>
  <form [formGroup]="userForm" class="user-form">
    <label for="firstName">
      First name <br>
      <input [formControlName]="'firstName'" class="input-custom" id="firstName" type="text">
    </label>
    <br>
    <label for="lastName">
      Last name <br>
      <input [formControlName]="'lastName'" class="input-custom" id="lastName" type="text">
    </label>
    <br>
    <button (click)="addUser()" class="button-card" type="submit">Create</button>
  </form>
</div>
